{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body>
    <p></p>
    <!-- <label> Select a region to observe wildfire data:</label>
    <select id="dropDown" onchange="myFunction()">
        <option value="default" selected="selected"> Please select region </option>
        <option value="New South Wales (NSW)">
        <option value="Northern Territory (NT)">
        <option value="Queensland (QL)">
        <option value="Southern Australia (SA)">
        <option value="Tasmania (TA)">
        <option value="Victoria (VI)">
        <option value="Western Australia (WA)"></option>
    </select>

    <label> Select a start date for predictions (mm/dd/yyyy):</label>

    <p id="demo"></p> -->

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <h1 class="h4">LSTM Wildfire Forecast</h1>
            <p class="mb-0">Predict the likelihood of wildfires in Australia</p>
            <p></p>
            <p class="mb-0">Region Abbreviations: </p>
            <ul>
                <li>NSW: New South Wales</li>
                <li>NL: Northern Territory</li>
                <li>QL: Queensland</li>
                <li>SA: Southern Australia</li>
                <li>TA: Tasmania</li>
                <li>VI: Victoria</li>
                <li>WA: Western Australia</li>
            </ul>
        </div>
    </div>


    <script> 
        function myFunction() {
            var x = document.getElementById("dropDown").value;
            document.getElementById("demo").innerHTML = "You selected: " + x;
        }
        function test() {
            var reg = document.getElementById("regionList").value;
            document.getElementbyId("test").innerHTML = reg
        }
    </script>

    <form action="/transactions.html" method = "get">
        <label for="regions">Region:</label>
        <input list="regionList" name="regionList" /></label>
        <datalist id="regionList">
            <option value="NSW">
            <option value="NT">
            <option value="QL">
            <option value="SA">
            <option value="TA">
            <option value="VI">
            <option value="WA"></option>
        </datalist>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="trip-start"
            value="2017-09-13"
            min="2005-01-04" max="2017-09-13">

        <!-- <label for="forecastDays">Number of Days to Forecast:</label>
        <input type="text" id="forecastDays" name="forecastDays"><br><br> -->

        <label for="forecastDays"> Forecasting Range:</label>
        <input list="forecastList" name="forecastList" /></label>
        <datalist id="forecastList">
            <option value="5 days">
            <option value="1 week">
            <option value="2 weeks">
            <option value="1 month">
            <option value="6 months"></option>
        </datalist>

        <input type="submit" value="Submit">
    </form>
</body>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

<html lang="en">
  
</html>


